@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&family=Rock+Salt&family=Yanone+Kaffeesatz:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  color: #515151;
}

body {
  width: 100%;
}
h1 {
  font-size: 50px;
  line-height: 64px;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  line-height: 40px;
}
h4 {
  font-size: 20px;
}
h6 {
  font-size: 12px;
  font-weight: 700;
}
p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
hr {
  border: none;
  border-top: 1px solid #515151;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  background-color: #5584ac;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.section-padding {
  padding: 40px 80px;
}
.section-margin {
  margin: 40px 0;
}
